#custom-setting-sidenav {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

#custom-setting-1,
#custom-setting-2,
#custom-setting-3 {
    border-radius: 10px
}

#sbmt_btns,
#close_mail_btn,
#sendTestEmailBtn {
    border-radius: 7px
}

.list-group-item.active {
    background-color: #31A2B8;
    border-color: #f8f9fa;
    position: relative;
}

.list-group-item.active:before {
    display: none;
}

.list-group-item .float-end {
    margin-left: auto;
}

.list-group-item i {
    margin-left: 5px;
}

.arrow-icon {
    font-size: 12px;
}

.list-group-item .arrow-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.myActiveSection {
    /* border: 1px solid red !important; */
    height: 100%;
}

/* Custom style to create a Flexbox layout */
.flex-container {
    display: flex;

}

/* Custom style to position col-xl-2 as sticky on the left */
.col-xl-2 {
    position: sticky;
    top: 0;
    height: calc(100vh - 60px);
    /* Adjust the height based on your needs */
    overflow-y: auto;
    padding-right: 2px;
    /* Add some padding to avoid scrollbar overlap */
}

/* Custom style to limit scrolling for col-xl-10 content */
.col-xl-10-content {
    flex: 1;
    max-height: calc(100vh - 60px);
    /* Adjust the max-height based on your needs */
    overflow-y: auto;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 100%
}

#loadingMessage {
    display: none;
    text-align: center;
    font-weight: bold;
}

/* Spinner animation */
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #000;
    animation: spinner 0.6s linear infinite;
}

/* Container for both "Loading..." text and the spinner */
.loading-container {
    display: inline-flex;
    align-items: center;
    /* Center the items vertically */
}

/* css affecting the email_notification_form ONLY */

/* Hide the default checkbox */
#email_notification_row input[type="checkbox"] {
    display: none;
}

#email_notification_row label {
    font-weight: normal
}

#email_notification_row .switch-container {
    position: relative;
    display: block;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    padding: 16.6667px 25px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
    border-radius: 10px;
}

/* Customize the switch appearance */
#email_notification_row .switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Add some vertical spacing between rows */
}

#email_notification_row .switch {
    position: relative;
    width: 50px;
    height: 22px;
    background-color: #ccc;
    border-radius: 13px;
    cursor: pointer;
}

/* Add margin between the label and the switch */
#email_notification_row .switch-label {
    margin-right: 8px;
}

/* Ensure all labels have the same width to align the switches */
#email_notification_row .form-label {
    width: 150px;
    /* Adjust this value as needed */
    display: inline-block;
}

/* Customize the switch handle (the "knob") */
#email_notification_row .switch::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
}

/* When the checkbox is checked, move the switch handle to the right and change the switch color */
#email_notification_row input[type="checkbox"]:checked+.switch {
    background-color: #31A2B8;
    /* Change to the desired color when the checkbox is checked */
}

/* When the checkbox is checked, move the switch handle to the right */
#email_notification_row input[type="checkbox"]:checked+.switch::before {
    transform: translateX(24px);
}

/* end of css affecting the email_notification_form ONLY */

/* Media query for screens less than 425px width */
@media screen and (max-width: 425px) {
    .flex-container {
        display: none;
    }
}