 /* Custom style for the step links */
 .nav-tabs .nav-link {
     position: relative;
     padding: 10px 15px;
     background-color: #f8f9fa;
     color: #333;
     font-weight: bold;
     border: 1px solid transparent;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     /* margin-left: 10px */
 }

 .nav-tabs .nav-link:hover {
     background-color: #e9ecef;
     color: #333;
 }

 .nav-tabs .nav-link.active {
     background-color: #fff;
     color: #333;
     z-index: 1;
 }

 .nav-tabs .nav-link.active::after {
     content: "";
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 6px 6px 0 6px;
     border-color: #333 transparent transparent transparent;
 }

 @media (min-width: 576px) {
     .modal-content {
         box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .5);
         width: 700px !important;
         margin-left: auto;
         margin-right: auto;
     }
 }